.texto-contacto{
    background-color:$color-terciario;
    padding: 30px;
    margin: 10px;
    color: $color-secundario;
    font-size:15px;
    justify-content:space-between

}
.contacto-mapa{
    @include flex(row, center, center);
    padding: 10px;
}