main{
    background-color:$color-secundario;
    align-items: center;
    margin-top: 10px;
    .contactanos-fijo{
        position: fixed;
        width: 100px;
        bottom: 25px;
        right: 25px;
    }
    .contactanos-fijo img{
        width: 100px;
    }
    .index{
        @include flex(row, center, space-between);
        padding-bottom: 100px;
        .texto-index{
            color: $color-principal;
            font-size: 3em;
            flex-direction: column;
            width: 70%;
            margin: 50px;
        }
        div{
            .imagen-index{
                margin: 40px;
                width: 70%;
                align-items: center;
                border: 2px solid $color-principal;
                border-radius:  200px 0;
                overflow: hidden;
                box-shadow: 19px 16px 39px -8px rgba(247,247,247,1);
                -webkit-box-shadow: 19px 16px 39px -8px rgba(247,247,247,1);
                -moz-box-shadow: 19px 16px 39px -8px rgba(247,247,247,1);}
        }
        
    }
}