.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 40px  ;
    align-items: center;
    color: $color-principal;
    padding: 20px;
}

.color-texto{
    color: $color-principal;
    font-size: 50px;
    }
    
.galeria .carpeta{
    @include flex( column, center, space-around);
        width:40%;
        border: 2px solid $color-principal;
        border-radius:  100px 0;
        overflow: hidden;
        box-shadow: 19px 16px 39px -8px rgba(247,247,247,1);
        -webkit-box-shadow: 19px 16px 39px -8px rgba(247,247,247,1);
        -moz-box-shadow: 19px 16px 39px -8px rgba(247,247,247,1);
    }