/*Media queries*/
@media screen and (max-width: 1023px ){ 
    /*index*/
    main{
            .index{
                @include flex(column, center, center);
                .texto-index{
                    @include flex(column, center, center);
                    font-size: 30px;
                    margin: 50px;
                
                }
                div{
                    .imagen-index{
                        margin-left: 100px;
                        justify-self:center;
                        border: 2px solid $color-principal;
                        border-radius:  200px 0;
                        overflow: hidden;
                        box-shadow: 19px 16px 39px -8px rgba(247,247,247,1);
                        -webkit-box-shadow: 19px 16px 39px -8px rgba(247,247,247,1);
                        -moz-box-shadow: 19px 16px 39px -8px rgba(247,247,247,1);
                    
                    } 
                } 
        }
        
    }
    /*nosotros*/
    main{
        .main-nosotros{
            font-size: 20px;
            
        }
        .text-nosotros{
            padding-bottom: 20px  ;
            width: 70%;
        }
        .img-nosotros{
            width: 50%;
            align-items: center;
            border-radius: 100px 0;
        }
    }
    
    /*servicios*/
    main{
        .caja{
            @include flex(column, center, center);
            width: 100%;
            .texto-servicios{
                @include flex(column, center, center);
                font-size: 25px;
                margin: 50px;
                padding: 0;
            }
            .imagen-servicio{
            width: 60%;
            border: 2px solid $color-principal;
            border-radius:  100px 0;
            overflow: hidden;
            box-shadow: 19px 16px 39px -8px rgba(247,247,247,1);
            -webkit-box-shadow: 19px 16px 39px -8px rgba(247,247,247,1);
            -moz-box-shadow: 19px 16px 39px -8px rgba(247,247,247,1);
                            }     
                }
        }
        /*galeria*/
        main{
            .galeria .carpeta{
                border-radius: 30px 0;
                width: 50%;
                            }
            }    
                                        }
                                        
    @media screen and (max-width: 765px ){
        .header{
            nav{
                ul{
                    @include flex(column, center, space-evenly);
                    padding: 15px 20px;
                    align-items: center;
                    li{
                        a{
                            text-decoration: none;
                            color:$color-secundario;
                            font-weight: bold;
                            font-size: 30px;
                        }
                    }
                    }

                }
                }
                .gradiente{
                    height: 10vh;
                    background-image: linear-gradient(to left, #1D1D20,rgb(47, 136, 255));
                }
        h1{  
            font-size: 30px;
            padding-top: 50px; 
            } 
            
        main{
            .index{      
                display: flex;
                align-items: center;
                flex-direction:column;
                justify-content:center;
                div{
                    .texto-index{
                        color: $color-principal;
                        width: 250px;
                        font-size: 20px;
                        flex-direction: column;
                        text-align: center;
                        align-items: center;
                    }  
                    .imagen-index{
                        margin:40px;
                        align-content:center;
                        border: 2px solid $color-principal;
                        border-radius:  70px 0;
                        overflow: hidden;
                        box-shadow: 19px 16px 39px -8px rgba(247,247,247,1);
                        -webkit-box-shadow: 19px 16px 39px -8px rgba(247,247,247,1);
                        -moz-box-shadow: 19px 16px 39px -8px rgba(247,247,247,1);
                    } 
                }
                
                
            }
        }
        /*nosotros*/
        main{
            .contactanos-fijo{
                position: fixed;
                width: 80px;
                bottom: 20px;
                right: 20px;
            }
        

            .img-nosotros{
                    width: 100%;
                    border-radius: 50px 0;
                }

            .main-nosotros{
                    display: flex;
                    justify-content: center;
                    color: $color-principal;
                    font-size: 25px;
                    padding: 20px;
                    flex-wrap: wrap;
                    
                }
        }
            
/*contacto*/
            main{
            @include flex(column, center, center);
                .texto-contacto{
                        color:$color-principal;
                        font-size: medium;
                        padding: 0%;
                        padding-bottom: 20px;
                        flex-wrap:wrap ;
                    
                    }
                .contacto-mapa{
                        width: 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content:center;
                        margin:10px;
                    }
    
                .mapa-contacto{
                    width: 280px;
                    }  
        }
                
                

        
/*servicios*/
            main{
                .caja{
                    .texto-servicios{
                        display: flex;
                        font-size: 20px;
                        flex-direction: column;
                        text-align: center;
                        align-items: center;
                        width: 100%;
                        padding-bottom: 30px;
                                    }
                        .imagen-servicio{
                        width:90%;
                        gap: 20px;
                        border: 2px solid $color-principal;
                                border-radius:  200px, 0;
                                overflow: hidden;
                                box-shadow: 19px 16px 39px -8px rgba(247,247,247,1);
                                -webkit-box-shadow: 19px 16px 39px -8px rgba(247,247,247,1);
                                -moz-box-shadow: 19px 16px 39px -8px rgba(247,247,247,1);
                                    }
            
                }
                
                }
                /*galería*/
                .galeria{
                    @include flex(column, center, space-between);
                    

                }
                
                .galeria .carpeta{
                    border-radius: 30px 0;
                    width: 50%;
        }
        }
                
        


